[submodule "vendor/rust-ipfs"]
	path = vendor/rust-ipfs
	url = /mnt/data1/git/github.com/dariusc93/rust-ipfs.git
[submodule "erdfa-publish"]
	path = erdfa-publish
	url = /home/mdupont/03-march/17/erdfa-publish
